PORT=3000

# MongoDB Atlas (Base de datos dedicada de AquaRural)
MONGODB_URI=mongodb+srv://USUARIO:PASSWORD@cluster.mongodb.net/aquarural-db?retryWrites=true&w=majority
MONGODB_USER=
MONGODB_PASS=

# Cuenta Google / MongoDB Atlas AquaRural
GOOGLE_ACCOUNT=contactoaquarural@gmail.com
GOOGLE_PASS=Dracula2026@

# Cifrado de credenciales de acueductos (AES-256)
MASTER_ENCRYPTION_KEY=clave_secreta_maestra_para_cifrar_llaves_wompi_2026

# JWT
JWT_SECRET=aquarural_jwt_secret_key_2026
JWT_REFRESH_SECRET=aquarural_jwt_refresh_secret_key_2026

# Administrador del panel web
ADMIN_CEDULA=
ADMIN_PASSWORD=
ADMIN_CORREO=

# Wompi (pasarela de pagos)
WOMPI_PUBLIC_KEY=
WOMPI_PRIVATE_KEY=
WOMPI_EVENTS_SECRET=
WOMPI_INTEGRITY_SECRET=
WOMPI_SANDBOX=true

# Firebase (push notifications)
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=

# QR
QR_SECRET=

# Cloudinary (imágenes)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Nodemailer (correos)
NODEMAILER_USER=
NODEMAILER_PASS=

# App
NODE_ENV=development
CORS_ORIGIN=*
MONTO_APORTE_MENSUAL=50000
FRONTEND_URL=http://localhost:3000